<!DOCTYPE html>
<html lang="Eng">
<title>Score Manager</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/gol.png");
  min-height: 90%;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button">HOME</a>
    <a href="/match/{{name}}" class="w3-bar-item w3-button">Match</a>
  </div>
</div>
  
<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white w3-hide-small" style="font-size:100px">{{Champname}}<br>Championship</span>
    <span class="w3-text-white w3-hide-large w3-hide-medium" style="font-size:60px"><strong>Nombre<br>Championship</strong></span>
    <p><a href="#teams" class="w3-button w3-xxlarge w3-black">View Teams</a></p>
  </div>
</header>

<!-- Teams Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="teams">
  <div class="w3-content">
  
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">THE TEAMS</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">
      <a href="javascript:void(0)" onclick="openMenu(event, 'group1');" id="myLink">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">{{Champname}}</div>
      </a>
    </div>
    <div id="group1" class="w3-container menu w3-padding-32 w3-white">
      <tbody>
        {% for TeamName, score in allTeams.items() %} 
        <tr>
          <th scope = "col"><h1><strong>{{TeamName}}</strong> <span class="w3-right w3-tag w3-dark-grey w3-round">Points: {{score}}</span></h1>
          <hr></th>
        </tr>
        {% endfor %} 
      </tbody>
    </div>

  </div>
</div>

<!-- Enrollment Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="enrollment">
    <div class="w3-content">
      <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Enroll a Team</h1>
      <p>Add two teams more to your tournaments! Just fill the required fields</p>
      <p><span class="w3-tag">Remember!</span> This info is what is going to be used in order to keep track of the team's performance.</p>
      <form method = "POST" action = "">
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Team's Name" name="FirstTeam"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Team's Name" name="SecondTeam"></p>
        <p><button class="w3-button w3-light-grey w3-block" type="submit">Enroll Teams</button></p>
      </form>
    </div>
  </div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p>Marcela Melgar, Jose Reyes, Esteban Samayoa</p>
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-red";
}
document.getElementById("myLink").click();
</script>

</body>
</html>